
        @media (min-width: 100px){
        .index{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;}
        }

        img{
            display:block;
            max-width:100%;
            height:auto;
            border-radius: 5px;
            
        }
        @media (min-width:1000px){.index{
            display:grid;
            background-color: rgba(174, 174, 245,0.5);
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,minimax(100px,auto));
            gap:8px;
            justify-items:center;
            }
        }

        .item-4{
                grid-column:2/3;
                grid-row:1/2;
                margin-bottom:50px;
                margin-top:80px;
                
                
        }
        .item-5{
                grid-column:1/2;
                grid-row:2/3;
                
        }
        a{
            text-shadow: 2px 2px 2px rgb(58, 7, 199);color: cornsilk;
            text-decoration:none;
            
        }

        
        h1,p{
            color:rgb(219, 117, 134);
        }
        h1{
           
            
        }

        
    